{% load static %}
{% comment %} {% load bootstrap4 %} {% endcomment %}
{% comment %} base.html no need title, it is a more like a blueprint, base.html won't necessary
appear to be a web page, it is just a base html where other html page can base it on {% endcomment %}

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
      {% block title %}{% endblock title %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    
    
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style_v1.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Chakra+Petch:wght@500&family=Montserrat:wght@500&family=Russo+One&family=Unbounded&family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
  
  {% block stylecss %}
  
  {% endblock stylecss %}


  </head>
  <body style="background-image: url('{% block background-image %}{%endblock background-image %}');
               background-repeat: no-repeat;
               background-size: cover;
               background-attachment: fix; 
              ">

    <div class="topcontainer">
      <div class="nav">
        <h1 class="name"> Xian Zhou (Natasha) </h1>
        <img src="{% block header-image %} {% endblock header-image %}" alt="header-image" class="picture">
        <ul class="navlinks">
          <li><a href ="/">Home</a></li>
          <li><a href ="/about">About</a></li>
          <li><a href ="/resume">Resume</a></li>
          <li><a href ="/projects">Projects</a></li>
          <li><a href ="/contact">Contact</a></li>
        </ul>
      </div>
    </div>

    
    {%block content %}
    
    {% endblock content %}
    
    

    
  </body>
</html> 
 
 
